deemix
fairseq
faiss-cpu
ffmpeg-python
gradio==4.44.0
lib
librosa
numpy
onnxruntime_gpu
praat-parselmouth
pedalboard
pydub
pyworld
Requests
scipy
soundfile
--find-links https://download.pytorch.org/whl/torch_stable.html
tensorboard
tqdm>=4.63.1
tornado>=6.1
torchfcpe
tabulate>=0.8.10
torchcrepe
tqdm
torch
yt_dlp
sox
einops
local-attention
aria2
joblib
numba
scipy
llvmlite
Cython
tensorboardX
Jinja2
json5
Markdown
matplotlib
matplotlib-inline
Pillow
resampy
scikit-learn
Werkzeug
uc-micro-py>
sympy
PyYAML
pyasn1
pyasn1-modules
fsspec>
absl-py
audioread
uvicorn
colorama
pyworld
httpx
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
fastapi
ffmpy
python-dotenv
av
