deemix
fairseq
faiss-cpu
ffmpeg-python
gradio==4.44.0
lib
librosa
numpy
onnxruntime_gpu
praat-parselmouth
pedalboard
pydub
pyworld
Requests
scipy
soundfile
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchcrepe
tqdm
yt_dlp
sox
einops
local-attention
